/*main.css*/
g.bubble {
  stroke: orange;
  fill-opacity: .5;
  stroke-width: .5px;
  fill: orange;
border: 1px solid #cf1111;
}
.nation {
  fill: #ddd;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}